html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.head{
    background-color: rgb(137, 181, 243);
    width: 100%;
    height: 6.5rem;
    margin-top: -1.5rem;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: cursive;
    padding-left: 3rem;
    display: inline;
    padding-top: 1.5rem;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}

.container{
    background-color:white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.books{
    background-color: white;
    width: 12rem;
    height: 16rem;
    margin-top: 3rem;
    margin-left: 3rem;
    border-radius: 10%;
    display: none;
    border: 1px black solid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.titleFonts{
    font-size: large;
    background-color: rgb(137, 181, 243);
    font-weight: 600;
    text-align: center;
    font-family:'Rampart One', cursive;
}



.readFonts{
    font-size: 1.2rem;
    background-color: rgb(104, 162, 245);
    font-weight: 400;
    text-align: center;
    font-family: 'Zen Kurenaido', sans-serif;
}

.bookFonts{
    font-size: large;
    align-content: center;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Zen Kurenaido', sans-serif;
}

input[type=checkbox]{
    width: 11rem;
}

.removeBtn{
    width: 6rem;
    height: 2rem;
    margin-left: 3rem;
    background-color: rgb(231, 173, 173);
    display: block;
    margin-top: 1.6rem;
}

.btnAdd{
    width: 3rem;
    height: 3rem;
    align-self: flex-end;
    margin-top: -4.5rem;
    margin-right: 2rem;
    border-radius: 50%;
    font-size: 2rem;
    color:rgb(104, 162, 245);
    background-color: white;
    border: none;
}

.btnAdd:hover{
    width: 3rem;
    height: 3rem;
    align-self: flex-end;
    margin-top: -4.5rem;
    margin-right: 2rem;
    border-radius: 50%;
    font-size: 2rem;
    color:rgb(104, 162, 245);
    background-color: white;
    border: rgb(182, 180, 180) solid 1px;
}

.btnDelete{
    width: 9rem;
    height: 3rem;
    align-self: flex-end;
    margin-top: -2.9rem;
    margin-right: 7rem;
    font-size: 1rem;
    border-radius: 5%;
    color:rgb(104, 162, 245);
    background-color: white;
    border: none;
}

.btnDelete:hover{
    width: 9rem;
    height: 3rem;
    align-self: flex-end;
    margin-top: -2.9rem;
    margin-right: 7rem;
    font-size: 1rem;
    border-radius: 5%;
    color:rgb(104, 162, 245);
    background-color: white;
    border: 1px rgb(131, 177, 231) solid;
}

.book-popup{
    background-color: rgb(255, 255, 255);
    width: 20rem;
    height: 27rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8%;
    border: black 1px solid;
    display:none
}

h2{
    color: rgb(137, 181, 243);
    padding-left: 7rem;
    padding-top: 1rem;
    display: inline;
    margin-right: 4rem;
}

 input{
    width: 90%;
    margin: 0.3rem 1rem 1rem 1rem;
    box-sizing: border-box;
    border: none;
    background-color: rgb(243, 243, 243);
    padding: 10px;
    display: block;
  }

label{
    padding-left: 1rem;
    display: block;
}

select{
    width: 90%;
    margin: 0.3rem 1rem 1rem 1rem;
    box-sizing: border-box;
    border: none;
    background-color: rgb(243, 243, 243);
    padding: 10px;
}

.btnSubmit{
    width: 80%;
    margin: 0.4rem 2rem;
    height: 2.5rem;
    background-color: rgb(137, 181, 243);
    color: white;
    border: none
}

.closeBtn{
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: white;
    border: none;
    font-size: large;
    color: rgb(137, 181, 243);
}

